			<h2>Me</h2>
			<p>
				My name's Eric, but I go by "ericoc" most places online.
				I'm a 20-something nerd who's interested in computers and other technical junk.
				After graduating college, I moved to New Jersey from Virginia for my first <i>real</i> job at Linode.
				Since then, I have made Philadelphia my home after moving from New Jersey for an amazing opportunity to advance my career as a Linux Systems Administrator at the Urban Outfitters headquarters.
				At the end of 2013, I left Urban Outfitters to join an awesome startup, Sidecar, working as a systems administrator with many development and operations responsibilities.
				Oh, and I have a website, but you probably already knew that.
			</p>

			<h2>Interests</h2>
			<p>
				PHP, Linux, and computer networking are all pretty exciting to me.
				My strongest language is definitely PHP, but I'd like to think that my Bash scripting is nice too.
				However, I generally don't think of myself as a developer or programmer.
				I enjoy network and system administration way more than debugging code.
				I've come across quite a few different networking protocols and services that I've learned tons about for both personal and professional use.
				I have experience setting up many Linux services including httpd (Apache), iptables, nginx, lighttpd, ntpd, mysqld, bind/named, pptpd, openvpn, vsftpd, puppet, sshd, tftpd, and squid among others.
				A few Cisco routers and switches that I got online have helped me learn quite a bit as well.
				Debian and Arch are probably my favorite distributions of Linux, but my MacBook Air is great too.
				Unrelated to technology, I really like both playing and watching basketball.
			</p>
