@font-face {
    font-family:    'Permanent Marker';
    src:            local('Permanent Marker'),
                    local('PermanentMarker'),
                    local('Permanent Marker Regular'),
                    local('PermanentMarker-Regular'),
                    url('logo.woff')    format('woff'),
                    url('logo.woff2')   format('woff2'),
                    url('logo.ttf')     format('truetype');
}

body {
    font-family:    'Open Sans', sans-serif;
}

header, header a:link {
    font-family:        'Permanent Marker', cursive;
    font-size:          1.25em;
    font-style:         normal;
    font-weight:        normal;
    text-align:         center;
    text-decoration:    none;
    margin:             auto;
}

a:link, a:visited {
    color:  #4da0ff;
}

#logo-blue, a:hover, a:active {
    color:  #104e8b;
}

main {
    margin: auto;
    width:  75vw;
}

nav {
    font-size:      1.1em;
    margin:         auto;
    text-align:     center;
    word-spacing:   2em;
}

nav ul, #background ul {
    list-style:     none;
    padding:        0;
}
nav li {
    display:       inline;
}

nav, h2 {
    font-size:      1.2em;
}

h1, h3, h4, h5 {
    font-weight:    normal;
    margin:         0;
}

h4 {
    font-style:     italic;
}

footer {
    padding:        1em;
    text-align:     center;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color:   #323639;
        color:              #d6d6d7;
    }

    a:hover, a:active {
        color:              #fff;
    }
}
