			<h2>
				<a href="https://github.com/ericoc/indego-php-lib" target="_blank">Indego Bike Share PHP Library</a>
			</h2>
			<ul>
				<li>Started: November 16 (Monday), 2015</li>
				<li>Langage: PHP</li>
				<li>The Philadelphia Indego Bike Share program is interesting to me because of the technology behind it, including the fact that RFID tokens are used to check out bicycles.</li>
				<li>When I realized that <a href="https://www.opendataphilly.org/dataset/bike-share-stations" target="_blank">an API is available</a> for the bike share stations, <a href="/indego.php">I just had to take advantage of it</a>, so I created a PHP class/library to work with the data that the city makes available.</li>
			</ul>
			<br>
			<h2>
				<a href="https://github.com/ericoc/zabbix-slack-alertscript" target="_blank">Zabbix Slack AlertScript</a>
			</h2>
			<ul>
				<li>Started: December 27 (Friday), 2013</li>
				<li>Langage: Bash</li>
				<li>I had a chance to write a quick Bash script meant to forward alerts from the <a href="http://www.zabbix.com/" target="_blank">Zabbix</a> monitoring application to the <a href="https://slack.com/" target="_blank">Slack</a> messaging service as I couldn't find an already existing method by which to do so.</li>
				<li>Since I couldn't find an already existing solution online, I figured I would offer it up to the public even if it is just a short/simple shell script for others to use in case they can't find any thing already online either.</li>
			</ul>
			<br>

			<h2>
				<a href="https://gaw.sh/" target="_blank">gaw.sh URL Shortener</a>
			</h2>
			<ul>
				<li>Started: December 2 (Friday), 2011</li>
				<li>Language: PHP, MySQL, HTML, CSS, JavaScript</li>
				<li>I originally purchased the domain name "gaw.sh" as a short address to remember quickly and to have some fun with.</li>
				<li>However, I eventually realized that it would make a great domain name for a URL shortener so I began creating my own.</li>
				<li>The source can be found on GitHub at <a href="https://github.com/ericoc/gaw.sh" target="_blank">https://github.com/ericoc/gaw.sh</a>.</li>
			</ul>
