			<div style="text-align: center">
				<a href="/ericoc-resume.pdf">PDF</a> | <a href="/ericoc-resume.docx">DOCX</a> | <a href="/ericoc-resume.txt">TXT</a>
			</div>

			<br>
			<hr>
			<br>

			<h2>Eric O'Callaghan</h2>
			<p>
				Philadelphia, PA
				<br>
				<a href="mailto:eric@ericoc.com">eric@ericoc.com</a>
			</p>

			<h3>Certifications</h3>
			<ul>
				<li>CompTIA Security+, Network+, and Linux+</li>
				<li><a href="https://ipv6.he.net/certification/scoresheet.php?pass_name=ericoc" target="_blank">Hurricane Electric IPv6 Sage</a></li>
				<li>Cisco Certified Entry Networking Technician (CCENT)</li>
			</ul>

			<h3>Background</h3>
			<ul>
				<li>Regularly enjoy learning and playing with new things to further my own personal, technical knowledge</li>
				<li>Self-taught HTML, CSS, PHP, MySQL, Bash, and very familiar with Python as well as Perl</li>
				<li>Experience using and configuring many Linux network services such as httpd (Apache), nginx, lighttpd, iptables, ntpd, mysqld, bind/named, pptpd, openvpn, postfix, vsftpd, puppet, ansible, and sshd</li>
				<li>Worked with both Cisco Systems routing and switching equipment and very familiar with the Cisco Internetwork Operating System (IOS)</li>
			</ul>

			<h3>Experience</h3>
			<p>
				<a href="https://hello.getsidecar.com/" target="_blank">Sidecar</a>
				<br>
				<i>Linux Systems Administrator</i>
				<br>
				Philadelphia, PA (November 2013 - Present)
			</p>
			<ul>
				<li>Primary duties include response to any infrastructure issues as well as decision-making for all server modifications</li>
				<li>Responsible for maintaining multiple separate database environments that each include replication configurations between co-located hardware and Amazon Web Services (AWS)</li>
			</ul>

			<p>
				<a href="http://www.urbn.com/" target="_blank">URBN, Inc</a>
				<br>
				<i>Linux Systems Administrator</i>
				<br>
				Philadelphia, PA (September 2012 - November 2013)
			</p>
			<ul>
				<li>Worked with a team to deploy, configure, manage, and maintain servers responsible for hosting UrbanOutfitters.com as well as Anthropologie.com</li>
				<li>Participated in an 24/7 on-call rotation responsible for maintaining any and all operational aspects of the e-commerce infrastructure for the above two websites</li>
			</ul>

			<p>
				<a href="https://www.linode.com/" target="_blank">Linode, LLC</a>
				<br>
				<i>Linux Technical Support</i>
				<br>
				Galloway, NJ (July 2010 - August 2012)
			</p>
			<ul>
				<li>Provided quick and helpful technical support to a large number of customers via telephone, e-mail, and support tickets which involved troubleshooting a wide variety of issues including routing inconsistencies between numerous transit providers across the world</li>
				<li>Regularly communicated with international datacenters while reacting quickly to service-affecting emergencies</li>
			</ul>

			<p>
				<a href="http://www.patientadvocate.org/" target="_blank">Patient Advocate Foundation</a>
				<br>
				<i>IT Intern</i>
				<br> Newport News, VA (March - April 2010)
			</p>
			<ul>
				<li>Created web applications using PHP and MySQL that eased management of data for both the Lead Web Developer and Human Resources department</li>
				<li>Helped set up a small, on-site datacenter as the company moved to a new office location</li>
			</ul>

			<p>
				Directorate of Information Management
				<br>
				<i>Office Automation Clerk</i>
				<br> Fort Eustis, VA (June - September 2008)
			</p>
			<ul>
				<li>Enjoyed management of information technology in a government facility (Department of Defense / U.S. Army) while assisting both the Network Team and Help Desk as a temporary summer hire</li>
				<li>Introduced to a large network, spanning the military installation, which required routine installation, maintenance, and configuration of Cisco equipment</li>
			</ul>

			<h3>Education</h3>
			<p>
				ECPI University
				<br>
				<i>Networking & Security Management (A.A.S.)</i>
				<br>
				Newport News, VA (September 2008 - May 2010)
			</p>
